@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translate(0);
  }
}

@keyframes arrowBounce {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(-10px);
  }
}

@keyframes heartBeat {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}
