// ////////////////////////////////////////// Roboto
@font-face {
  font-weight: 400;
  font-family: Roboto;
  font-style: normal;

  font-display: swap;
  src: url(../font/Roboto/Roboto-Regular.woff2),
  url(../font/Roboto/Roboto-Regular.woff);
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  font-style: normal;

  font-display: swap;
  src: url(../font/Roboto/Roboto-Bold.woff2),
  url(../font/Roboto/Roboto-Bold.woff);
}

// ////////////////////////////////////////// HeliosCond
@font-face {
  font-weight: 300;
  font-family: HeliosС;
  font-style: normal;

  font-display: swap;
  src: url(../font/HeliosC/HeliosLightC.woff2),
  url(../font/HeliosC/HeliosLightC.woff);
}

@font-face {
  font-weight: 400;
  font-family: HeliosC;
  font-style: normal;

  font-display: swap;
  src: url(../font/HeliosC/HeliosC.woff2),
  url(../font/HeliosC/HeliosC.woff);
}

@font-face {
  font-weight: 700;
  font-family: HeliosС;
  font-style: normal;

  font-display: swap;
  src: url(../font/HeliosC/HeliosC-Bold.woff2),
  url(../font/HeliosCond/HeliosC-Bold.woff);
}

// ////////////////////////////////////////// Montserrat
@font-face {
  font-weight: 400;
  font-family: Montserrat;
  font-style: normal;

  font-display: swap;
  src: url(../font/Montserrat/Montserrat-Regular.woff2),
  url(../font/Montserrat/Montserrat-Regular.woff);
}
