// //////////////////////////////////////// font-family
$ff-hel: "HeliosC", sans-serif;
$ff-rob: "Roboto", sans-serif;
$ff-mont: "Montserrat", sans-serif;

// //////////////////////////////////////// font-size
$fz-main: 15px;
$lh-main: 1.47;

// //////////////////////////////////////// colors
$c-main: #181717;
$c-accent: #894083;
$c-mint: #183233;
$c-yellow: #fdca33;
$c-green: #8dc63f;
$c-gray: #828282;
$c-gray-light: #bdbdbd;

// //////////////////////////////////////// breakpoints
$sl: 1439.98px;;
$xl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;
$xs: 425.98px;
$ss: 359.98px;

// //////////////////////////////////////// col width
$c12: 100%;
$c11: 91.666667%;
$c10: 83.333333%;
$c9: 75%;
$c8: 66.666667%;
$c7: 58.333333%;
$c6: 50%;
$c5: 41.666667%;
$c4: 33.333333%;
$c3: 25%;
$c2: 16.666667%;
$c1: 8.333333%;
// width: calc(#{$c4} - 20px); - example
